TELEGRAM_BOT_TOKEN=8768461333:AAGYSBXEFwWHVOn2haQb7dQFw8OV3Vi6ic0
TELEGRAM_WEBHOOK_SECRET=
ADMIN_TELEGRAM_IDS=1703692722
DATABASE_URL=postgresql://postgres:B3XBJfz#8g/h??h@db.tmpxbmcrwabqgkmvdrnz.supabase.co:5432/postgres
WORKER_COUNT=2
LOG_LEVEL=INFO
